

.image-hero {
  width: 200px;
  height: 200px;
}

.text-overlay {
  margin-top: 30px;
  transform: translate(-70%, -50%);
  background-color: rgba(86, 11, 207, 0.7);
  color: rgb(246, 248, 250);
  // padding: 4px;
  font-size: 18px;
  display:flex;
  width: 100%
}

// .image-additional {
//   width: 100px;
//   height: 100px;
//   margin-bottom: 2px;
// }
