  <% if task.photo.attached? %>
    <% photo_url = cl_image_path task.photo.key, crop: :fill %>
  <% else %>
    <% photo_url = image_path "https://source.unsplash.com/random/?1,#{task.title}" %>
  <% end %>


<div id="carouselExampleControls" class="carousel slide h-75" data-bs-ride="carousel">
  <div class="carousel-inner h-100">
    <div class='carousel-item active data-bs-interval="500"'>
      <%= image_tag photo_url, class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "https://source.unsplash.com/random/?2,#{task.title}", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "https://source.unsplash.com/random/?3,#{task.title}", class: "d-block w-100" %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
