<%= link_to task_path(task) do %>
  <div class="rounded-circle info-window">
    <h2><%= task.title %></h2>
    <p><%= task.location %></p>
    <p><%= task.price%></p>
    <p> Click on card for more info. </p>
  </div>
<% end %>
