<div class="footer">
  <div class="footer-links">
    <p> Made by: </p>
    <a href="https://github.com/Lamarr1997/worknest"><i class="fab fa-github"></i></a>
    <a href="https://github.com/Lamarr1997"><i class="fa-solid fa-address-book"></i></a>
    <a href="https://github.com/zzdevzz"><i class="fa-sharp fa-thin fa-person-simple"></i></a>
    <a href="https://github.com/Glowrare1"><i class="fa-solid fa-person-dress"></i></a>
    <a href="https://www.linkedin.com/school/le-wagon/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
