
<div class="m-5 d-flex flex-row align-items-center">
  <h1>Worknest</h1>
</div>
  <p>Find work that is suitable to you!</p>





<div class="container">
  <% @tasks.each do |task| %>
    <div class="flip-card row gap-2">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <h2>tasks</h2>
    </div>
    <div class="flip-card-back">

      <%= task.title %>
      
    </div>
  </div>
</div>
  <% end %>
</div>


</div>
