<div class = "list-activities">
  <h1>Jobs I'm assisting with:</h1>
  <p>Track all the jobs you need to get done, make sure to check the due date.</p>
  <div class="">
    <div class="card-container mt-5 row">
      <div class="list-group">
        <% @jobs.each do |job| %>
          <a href=<%= task_path(job.task)%> class="list-group-item list-group-item-action"><%=job.task.title%> for <%=job.task.user.username%> due by: <%=job.task.task_due_by%>.</a>
        <% end %>
      </div>
    </div>
  </div>
</div>
