
<div>
  <h1><%= @user.username %></h1>
</div>

<div class="info-jobs">
  <h3>info</h3>
  <p>You can track all the jobs you need to get done and see which user the job is assigned to.</p>
</div>

<div class = "list-activities">
  <h1>Jobs I need done:</h1>
  <% @jobs.each do |job| %>
    <ul class="list-group">
      <li class="list-group-item list-group-item-action"><%= link_to job.task.title, task_booking_path(job.task,job) %></li>
    </ul>
  <% end %>
</div>



