<div class="list-activities">
  <h1>Tasks I'm helping others with:</h1>

  <% @tasks.each do |task| %>
    <ul class="list-group">
      <li class="list-group-item list-group-item-action"><%= link_to task.title, task_path(task) %></li>
    </ul>
  <% end %>
</div>
