.flip-card {
  background-color: transparent;
  width: 100%;
  height: 400px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  padding: 1rem;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
   /* Remove this if you don't want the 3D effect */
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transform-origin: center;
  padding: 0;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 20px;

}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  // background-color: $vanilla;
  color: black;
  // background-image: asset-url("Worknest-Logo-Clean.png");
  background-size: cover;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(75, 12, 131);
  color: white;
  transform: rotateY(180deg);
}

// .card-container {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr;
//   grid-gap: 25px;
//   // justify-content: space-between;
//   align-items: flex-end;
// }
