.list-activities {
  padding: 30;
  // border: 2px solid $red;
  // border-radius: 20px;
  // margin-top: 60px;
  // box-shadow: 10px 5px 5px black;
  h1 {
    color: $main-blue;
    margin-bottom: 20px;
  }

  a{
    color: grey;
  }
}
