.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: rgba($color: #000000, $alpha: 0.25) 0px 1px 4px;
  margin-bottom: 50px;
}

.navbar-name{
  font-weight: bolder;
  align-self: center;
  justify-self: center;
  display: inline-block;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}
